.App {
  font-family: sans-serif;
}
body {
  margin: 24px;
}
.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.movie-poster {
  height: 500px;
  width: 340px;
  object-fit: cover;
}
.movie-specs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-name {
  font-size: 24px;
  margin: 8px 0px;
  font-weight: 600;
}
.movie-container {
  /* background-color: red; */
  width: 340px;
}
.movie-rating {
  font-size: 18px;
  font-weight: 400;
}
.movie-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.counter-container {
  display: flex;
  gap: 10px;
}
.counter-container button {
  font-size: 20px;
}
